/* src/styles/Home.css */

.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-title {
    font-size: 2rem;
    color: #3498db;  /* 主題顏色 */
  }
  
  .home-text {
    font-size: 1rem;
    color: #333;
  }
  